/* CSS HERE */


/* Try: updating the background to a gradient */


/* Try: changing the font styling of h1 or h2 elements */


/* Try: targeting one element on a specific site and changing something about it's appearance*/

/* colours:
darkest: #171617
Main: #1C1C1C
Grey: #363636
Border:#343434
calander heading: #7D7A7C
calander text: #B3B1B3
*/

#page{
    background-color: #171617;
}

header{
    background-color: #171617;
}

#page-content{
    background-color: #171617;
}

.card-body{
    background-color: #1C1C1C;
    border: 1px solid #343434;
}

#current_title_heading, #past_title_heading{
    background-color: #363636;
    border: 1px solid #343434;
}

.text-xs-center{
    color: #7D7A7C;
}

.day.text-center{
    color: #B3B1B3;
}

.calendar_event_course{
    background-color: #7D7A7C!important;
}

h1, h2, h3, h4, h5, h6, p{
    color: white;
}

.list-group-item{
    background-color: #212121!important;
    border: 1px solid #343434;
}

#headingcurrent_title, #headinglong_term_title, #headingpast_title{
    background-color: #363636;
    border: 1px solid #343434;
}

#page-header.row.uofl_breadcrumb_bar{
    background-color: #1C1C1C;
}

div.card-text.content.mt-3{
    color: white;
}

#uleth_burgers_fries_n_pop.navbar-collapse.collapse.show{
    background: #363636;
}

/*
.table{
    background-color: yellow!important;
    background: red!important;
    color: blue!important;
}
*/

a{
    color: white!important;
}
a:hover{
    color:#B3B1B3!important;
}
